# SPDX-License-Identifier: GPL-2.0
#
# Copyright 2025 Hewlett Packard Enterprise Development LP. All rights reserved.
#

clocking = 85/170
cursor   = 100
dfe      = enabled
encoding = PAM4_normal
media    = 1
osr      = OSX2
post1    = 0
post2    = 0
pre1     = 0
pre2     = 0
pre3     = 0
scramble = disabled
width    = 80
